/* 
  Color Palette: #1A1A1D, #4E4E50, #6F2232, #950740, #C3073F;  
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1a1a1d;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.container {
  text-align: center;
  margin-top: 3rem;
}

h1 {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #c3073f;
}

.red {
  color: #950740;
}

p.description {
  font-size: 1.5rem;
  margin: 1rem auto 3rem;
  max-width: 400px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

#time-remaining {
  text-align: right;
  justify-content: flex-end;
  font-size: 20px;
}

#time-remaining.game-over {
  width: 68%;
  display: flex;
}

#time-remaining span {
  font-size: 3rem;
}

#time-remaining h1 {
  font-size: 2.5rem;
}

.scoreboard {
  text-align: left;
  font-size: 3rem;
}

.high-score-container {
  font-size: 20px;
}


.equation-container {
  color: #c3073f;
  padding: 1.5rem;
  margin: 2rem auto;
  border: 3px solid #c3073f;
  border-radius: 0.3em;
}

.equation-container {
  width: 600px;
  font-size: 5rem;
}

.equation-container input {
  height: 5rem;
  font-size: 4rem;
  max-width: 21%;
  padding: 0.75rem;
}

.equation-container input:focus {
  outline: none;
}

.btn-play-again {
  height: 60px;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: #6f2232;
  color: #fff;
  border: 2px solid #6f2232;
  border-radius: .3em;
  cursor: pointer;
  margin: 1rem auto;
}

/* Responsive Styles */

@media (max-width: 800px) {

  .container,
  .equation-container {
    width: 80%
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 48px;
  }

  .flex-container {
    margin: 40px;
  }

  .high-score-container {
    display: none;
  }

  p.description,
  .scoreboard,
  #time-remaining span,
  #time-remaining.game-over h1 {
    font-size: 20px;
  }

  .equation-container {
    font-size: 40px;
    padding: 1rem 0;
    width: 100%;
  }

  .equation-container input {
    height: 48px;
    width: 200px;
    font-size: 2rem;
  }

  .btn-play-again {
    font-size: 14px;
  }
}